body{

}
/*媒体查询*/
@media screen and(min-width:520px){
    nav{
        visibility: hidden;
    }
}

/*头部*/
.header{
    width: 100%;
    height: 500px;
    position:relative;
    top: 0px;
    background-image: url("images/9.png");
}

/*导航条*/
.navBar{
    width:100%;
    position:fixed;                 /*导航条固定在顶部*/
    top: 0px;
    height: 60px;
    background-color: rgba(34,34,34,0.8);                /*导航条透明*/
    z-index: 999;
}

/*Mao的logo*/
.logo{
    float: left;
}
span{
    color: Hotpink;
}
.mao{
    margin-left: 20px;
    font-size: 50px;
}

/*导航栏*/
nav{
    position: absolute;
    right: 20px;
    float: left;
}
li{
    color: lightgray;
    width: 80px;
    height: 30px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    float: left;
    padding-top: 20px;
    margin-left: 20px;
}
li:hover{
    border-bottom: 2px solid lightgray;
}
.navBar input{                                             /*搜索栏的大小*/
    width: 150px;
    height: 25px;
    border: 1px solid white;
    border-radius: 8px;
}
a{
    color: lightgray;                                 /*超链接的颜色*/
    text-decoration-line: none;                      /*取消超链接的下划线*/
}
a:hover{
    color: #adadad;
}

/*标题栏*/
.title{
    width: 100%;
    height: 50px;
    position: relative;
    top: 30px;
}
.title p{
    margin-left: 310px;
    color: #222222;
    font-size: 20px;
    margin-top: 0;
}

/*个人介绍*/
#introduction{
    width:100%;
    height:500px;
    color: black;
}

table td{
    padding: 6px;
}

.pic{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

/*掌握技能*/
#skill{
    width:100%;
    height: 800px;
    background-color: pink;

}

/*商品卡片*/
.cardGroup{
    width:100%;
    height: 1000px;
}

.card{
    width:230px;
    height: 260px;
    background-color: white;
    border: 0;
    border-radius:6px;
    float: left;
    margin-top: 80px;
    margin-left: 20px;
    text-align: center;
    line-height: 10px;

}

.card:hover{
    box-shadow: 4px 4px 10px firebrick;

}

.card p{
    font-size: 20px;
    color: #222222;
}

.skillDesc{
    width:160px;
    height: 200px;
    background-color: pink;
    float: left;
    margin-top: 120px;
    margin-left: 20px;
}

img{
    max-width: 100%;
    height: auto;
}

/*成长历程*/
#group{
    width: 100%;
    height: 550px;
    background-color: #1b6d85;

}
/*登录form*/
.form{
    width: 500px;
    height:400px;
    float: left;
    padding-top: 50px;
}

.login{
    width: 250px;
    height:360px;
    background-image: url("images/4.jpg");
    margin-left: 100px;
    padding-left: 40px;
    padding-right: 20px;
    border: 1px solid #222222;
    border-radius: 10px;
    color: #1b6d85;
    box-shadow: 5px 5px 5px #222222;
}
strong{
    color: lightgrey;
}
input{
    background: rgba(255,255,255,0.05);       /*input的透明度*/
    color: white;
    width: 210px;
    height: 30px;
    border: 1px solid #555555;
    border-radius: 4px;
    margin: 10px;
}
input:hover{
    box-shadow: 0.5px 0.5px 4px #555555;
}

.button1{
    width: 100px;
    height: 30px;
    background-color:#1b6d85;
    border: 2px solid #1b6d85;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.button1:hover{
    border: 2px solid #204d74;
    background-color:#204d74;
    color: white;
}
.button1:active{                               /*按下button1的效果*/
    border: 2px solid #204d74;
    background-color:#204d74;
    color: white;
    transform: translateY(2px);
}

.button2{
    width: 100px;
    height: 30px;
    background-color: #449d44;
    border: 2px solid #449d44;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.button2:hover{
    background-color: #3c763d;
    border: 2px solid #3c763d;
    color: white;
}
.button2:active{                                /*按下button2的效果*/
    background-color: #3c763d;
    border: 2px solid #3c763d;
    color: white;
    transform: translateY(2px);
}
p{
    color: #999999;
    font-size: 14px;
    margin-top: 60px;
    margin-left: 10px;
    clear: left;
}

.desc{
    width: 600px;
    height:400px;
    float: left;
    padding: 50px;
    text-align: center;
}

.desc p{
    color: black;
    font-size: 16px;
    text-align: left;
}

.desc h2{
    color: white;
}

/*发展方向*/
#develop{
    width:100%;
    height:500px;
    background-color: #449d44;
}

.up{
    width:600px;
    height: 300px;
    background: url("images/up.png");
    border-right: 2px solid #222222;
    border-bottom: 2px solid #222222;
    position: relative;
    top: 50px;
    left: 360px;
}

.upPer{
    width: 50px;
    height: 50px;
    position: relative;
    top: 230px;
}

.button3{
    width: 100px;
    height: 36px;
    background-color: firebrick;
    border: 2px solid firebrick;
    border-radius: 2px;
    float: left;
    margin-top: 70px;
    margin-left: 600px;
    color: white;
}

.button3:hover{
    width: 100px;
    height: 36px;
    background-color: white;
    border: 2px solid firebrick;
    color: firebrick;
}

.button3:active{
    transform: translateY(2px);
}

/*联系我*/
#contact{
    width: 100%;
    height: 500px;
    background-color: lightsalmon;
    margin-top: 0px;
}

.contactCardGroup p{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 0;
}

.contactCard img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 100px;
}

.contactCard{
    width: 250px;
    height: 150px;
    background-color: antiquewhite;
    float: left;
    margin: 80px;
}

.contactCard p{
    height: 100px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #222222;
    margin-top: 0;
}

/*footer底部*/
#footer{
    width: 100%;
    height: 180px;
    background-color: #222222;
    color: white;
}

#footer span{
    color: white;
    font-size: 30px;
}

#footer p{
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
}


